body {
    margin: 100px 50px;
    background-color: antiquewhite;
    border: 2px solid red;
    padding: 20px;
}

nav {
    background-color: burlywood;
    padding: 10px;
}

a {
    margin-left: 20px;
    text-decoration: none;
}