    {{> header}}
    <div class="container">
   <h1>About</h1>
   <p>This is a note taker app that ask the title and discription of the topic and save it for future use!!</p>
   <p>Version 1.0</p>
    </div>
 
    {{> footer}}