    {{> header}}
    <div class="container">
      {{#each notes}}
       <div class="card card-body mb-2">
        <h4>{{title}}<h4>
         <p class="text-justify">{{description}}</p>
    </div>
      {{else}}
      <p>You have not yet saved a note!!</p>
      {{/each}}
 
</div>
    {{> footer}}