<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List Application</title>
</head>

<body>

    <h1>This is task List App</h1>
    <p>Today is
        <%= day %>
    </p>
    <!-- Task List -->
    <ul>
        <li>Buy Book</li>
        <li>Eat Lunch</li>
        <li>Eat Food</li>
    </ul>
    <!-- New Data Input Form -->
    <form action="/" method="post">
        <input type="text" name="newItem">
        <input type="submit" value="Add New Task">

    </form>
</body>

</html>