<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List Application</title>
</head>

<body>

    <h1>This is task List App</h1>
    <h1>Today is
        <%= day %>
    </h1>
</body>

</html>