<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List Application</title>
</head>

<body>

    <h1>This is task List App</h1>
    <p>Today is
        <%= day %>
    </p>
    <!-- Task List -->
    <% if(tasks.length === 0 ) { %>
        <p>There is No Task </p>
        <% } else{ %>
            <ul>
                <% for(i=0; i < tasks.length; i++) { %>
                    <li>
                        <%= tasks[i] %>
                    </li>
                    <% } %>
            </ul>
            <% } %>

                <!-- New Data Input Form -->
                <form action="/" method="post">
                    <input type="text" name="newItem">
                    <input type="submit" value="Add New Task">

                </form>
</body>

</html>